body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(media/bg.webp)
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: right;
    position: relative;
}

.title-image {
    display:block;
    height: 35px;
}
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    float: right;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none; /* Hide the menu initially */
    background-color: #333;
    position: absolute;
    right: 10px;
    top: 40px;
    width: 150px;
}

.nav-links li {
    padding: 10px;
    text-align: left;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-links li:hover {
    background-color: #555;
}

.playlist-controls {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: #ddd;
    width: 80%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 5px;
    text-transform: uppercase;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    transition: all .5s ease-out;
}

.grid-item {
    background:linear-gradient(0deg, rgb(0,0,0) 0%, rgb(49, 48, 48) 100%, rgba(0,0,0,0) 50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    font-size:small;
    text-align:center;
    text-justify:bottom;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    bottom:0;
    clip-path: polygon(5% 0%, 100% 0%, 100% 20%, 100% 95%, 95% 100%, 20% 100%, 0% 100%, 0% 5%);
}

.grid-item img {
    background:linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50.62%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-item:hover {
    background: linear-gradient(to right, rgb(160, 49, 123),rgb(91, 126, 150));
    color: rgb(190, 0, 110);
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.video-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
}

.video-item video {
    width: 100%;
    height: auto;
}

.video-item .details {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.details i {
    cursor: pointer;
}

.tag-added {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.toggle-container {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: #ddd;
    width: 80%;
    border: 1px solid #ccc;
}
